

body{
    background-color: #1c1c1c;
    color: #c1c1c1;
    font-size: 1.09em;
}

/* global */
input[type="submit"]{
    border: none;
    border-radius: 5px;
    padding: 7px;
    font-size: 1.1em;
    width: auto;
}

input[type="submit"]:hover{
    cursor: pointer;
}

/* header content start */
.head{
    display: flex;
    justify-content: space-between;
    border-bottom: 2px orange solid;
    margin-bottom: 20px;
    padding: 10px;
    background-color: black;
}

.head h1{
    font-size: 2.6em;
}

.head div ul{
    font-size: 1.2em;
    list-style: none;
    display: flex;
    padding: 10px;
    gap: 40px;
    margin: 43px 20px 0 0 ;
}

.head .pick a{
     color: orange;
}

.head a{
    text-decoration: none;
    color: white;
}

.head a:hover{
    text-decoration: underline;
}
/* header content finish */

/* foooter */
footer{
    padding: 12px;
    text-align: center;
    background-color: rgb(37 33 33);
    font-size: 1.1em;
}

footer p:nth-of-type(2){
    text-align: left;
}

footer img{
    margin: 9px;
}

/* intro content start */
.intro{
    display: flex;
    justify-content: center;
    font-size: 1.2em;
}

.intro img{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    margin: 30px 10px 0 0 ;
}

.intro p:nth-of-type(1){
    font-size: 2.5em;
}

.intro p:nth-of-type(1) span{
    font-size: 1.05em;
    color: gray;
}

/* contact page*/
#contact{
    display: flex;
    padding: 20px;
    margin-top: 3px;
    flex-wrap: wrap;
}

#contact .side{
    flex-basis: 45%;
    justify-content: center;
    font-size: 1.2em;
}

.side p:nth-of-type(1){
    font-size: 3.5em;
    /* line-height: 70px; */
    margin-bottom: 7px;
}

#contact .entry{
    flex-basis: 35%;
    height: 350px;
    border: 1px white solid;
    color: white;
}

.entry form{
    margin: 20px  0 0 20px;
}

.entry input[type="text"],
.entry input[type="email"]{
    width: 350px;
    height: 25px;
}

.entry textarea{
    width: 350px;
    max-width: 350px;
    max-height: 76px;
}

#contact .follow{
    flex-basis: 100%;
    margin-top: 7px;
    text-align: center;
    font-size: 1.2em;
}

.follow p:nth-of-type(1){
    font-size: 2.4em;
}

.follow p:nth-of-type(1) span{
    color: orange;
}

.follow div a{
    margin: 9px;
}

.follow a{
    text-decoration: none;
    color: #c1c1c1;
}

.follow a:hover{
    text-decoration: underline;
    color: blue;
}