*, *::before, *::after {
    box-sizing: border-box;
}

body{
    background-color: #1c1c1c;
    color: #c1c1c1;
    font-size: 1.09em;
}

/* global */
input[type="submit"]{
    border: none;
    border-radius: 5px;
    padding: 7px;
    font-size: 1.1em;
    width: auto;
    
}

input[type="submit"]:hover{
    cursor: pointer;
}

/* header content start */
header{
    display: flex;
    justify-content: space-between;
    border-bottom: 2px orange solid;
    /* margin-bottom: 20px; */
    padding: 10px;
    background-color: black;
}

header h1{
    font-size: 2.6em;
}

header div ul{
    font-size: 1.2em;
    list-style: none;
    display: flex;
    padding: 10px;
    gap: 40px;
    margin: 43px 20px 0 0 ;
}

.pick a{
     color: orange;
}

header a{
    text-decoration: none;
    color: white;
}

header a:hover{
    text-decoration: underline;
}

/* header content finish */
/* menu icon  */
.links-container{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  nav svg{
    fill: #c1c1c1;
  }

  #sidebar-active{
    display: none;
  }
  
  .open-sidebar-button, .close-sidebar-button{
    display: none;
  }


/* foooter */
footer{
    padding: 12px;
    text-align: center;
    background-color: rgb(37 33 33);
    font-size: 1.1em;
}

footer p:nth-of-type(2){
    text-align: left;
}

footer img{
    margin: 9px;
}

.bottom{
    text-align: left;
}

/* intro content start */
.intro{
    display: flex;
    justify-content: center;
    font-size: 1.2em;
}

.intro img{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    margin: 30px 10px 0 0;
}

.intro p:nth-of-type(1){
    font-size: 2.5em;
}

.intro p:nth-of-type(1) span{
    font-size: 1.05em;
    color: gray;
}

/* contact page*/
#contact{
    display: flex;
    padding: 20px;
    margin-top: 3px;
    flex-wrap: wrap;
}

#contact .side{
    flex-basis: 45%;
    justify-content: center;
    font-size: 1.2em;
}

.side p:nth-of-type(1){
    font-size: 3.5em;
    /* line-height: 70px; */
    margin-bottom: 7px;
}

.entry{
    flex-basis: 35%;
    height: 350px;
    border: 1px white solid;
    color: white;
}

.entry form{
    margin: 20px  0 0 20px;
}

.entry input[type="text"],
.entry input[type="email"]{
    width: 350px;
    height: 25px;
}

.entry textarea{
    width: 350px;
    max-width: 350px;
    max-height: 76px;
}

#contact .follow{
    flex-basis: 100%;
    margin-top: 7px;
    text-align: center;
    font-size: 1.2em;
}

.follow p:nth-of-type(1){
    font-size: 2.4em;
}

.follow p:nth-of-type(1) span{
    color: orange;
}

.follow div a{
    margin: 9px;
}

.follow a{
    text-decoration: none;
    color: #c1c1c1;
}

.follow a:hover{
    text-decoration: underline;
    color: blue;
}

     /* Project page  */

#project{
    /* padding: 30px; */
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 5px;  
}

.box{
    display: grid;
    justify-content: center;
    text-align: center;
    /* margin: 15px 0; */
    padding: 17px;
    overflow: hidden;
}

.box img{
    margin: 10px;
    height: auto;
    width: 410px;
    object-fit: cover;
}

.box:nth-of-type(1){
    grid-column: 1 / 3;  
}

.box:nth-of-type(2){
    grid-column: 3 / 5;
}

.box:nth-of-type(3){
    grid-column: 1 / 5;
}

/* Video container */
.iframe-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 140px); 
    padding: 20px;
}

iframe {
    width: 60%;
    height: 60%;
    border: 1px solid #c1c1c1;
}

.iframe-container h2 {
    margin-bottom: 20px;
}


              /* sitereport */
.content{
    background-color: #f2f2f2;
    color: #333;
}
.content section{
    margin: 0;
    padding: 2px;
}

@media (max-width: 768px) {
    /* header ul{
        display: none;
        flex-direction: column;
        width: 40%;
        top: 0%;
        right: 0%;
        background-color: #333;
    } */

    /* header ul li {
        margin: 10px 0;
        text-align: center;
    } */

    .links-container{
        flex-direction: column;
        align-items: flex-start;
        position: fixed;
        top: 0;
        right: -100%;
        z-index: 9;
        width: 300px;
        height: 100%;
        background-color: black;
        box-shadow: -5px 0 5px rgba(0, 0, 0, 0.25);
        transition: 0.75s ease-out;
      }

      nav ul{
        display: flex;
        flex-direction: column;
      }

      nav a{
        box-sizing: border-box;
        height: auto;
        width: 40%;
        padding: 20px 30px;
        justify-content: flex-start;
      }

      .open-sidebar-button, .close-sidebar-button{
        padding: 20px;
        display: block;
      } 
    
      #sidebar-active:checked ~ .links-container{
        right: 0;
      }

      #sidebar-active:checked ~ #overlay{
        height: 100%;
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 9;
      }

    header nav,
    .intro p:nth-of-type(2),
    .side p:nth-of-type(2),
    .follow p:nth-of-type(2),
    .follow p:nth-of-type(3),
    .entry,
    footer{
        font-size: 0.9em;
    }

    .intro p:nth-of-type(1),
    .side p:nth-of-type(1),
    .follow p:nth-of-type(1){
        font-size: 1.6em;
    }

    #contact{
        display: block;
    }

    .entry input[type="text"],
    .entry input[type="email"] {
       width: 85%;
        height: 30px;
    }

     .entry textarea{
         max-width: 85%;
     }

    /* project */
    #project{
        display: block;
        
    }
    
    .box{
        display: flex;
        align-items: center;
        margin: 20px 0;
    }

    .box img{
        width: 280px;
        height: auto;
        margin-right: 20px;
    }

    .box.reverse{
        margin-right: 0;
        margin-left: 20px;
    }

    .box.reverse{
        flex-direction: row-reverse;
    }

}